body {
	
	margin: 0;
	padding: 0;

	background-color: rgb(252,252,252);

	color: rgb(102,102,102);
	font-family: "PT Sans Narrow",sans-serif;
}

a {

	text-decoration: none;
	color: rgb(102,102,102);
}

.container {

	width: 980px;
	margin: auto;
}

.shadow {

	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.header {

	height: 50px;

	background-color: rgb(69, 147, 188);
	color: white;
	font-weight: bold;
}

.header .container {

	display: flex;
	align-items: center;
}

.header .logo {

	width: 100px;
	height: 49px;
}

.header .title {

	flex-grow: 2;
}

.header .user, .header .title  {
	
	padding: 0 20px;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	font-size: 20px;
}

.header .logout {
	align-self: stretch;
}

.header .logout .top {
	cursor: default;
}

.header .logout .btn {

	height: 100%;

	background-color: rgb(39, 117, 158);

	border: none;
	border-radius: 0;
	border-left: 1px solid rgb(19, 97, 138);
	border-right: 1px solid rgb(19, 97, 138);

	color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	font-size: 18px;
}

.main {

	margin-top: 30px;
}

/*.main .container {*/

	/*display: flex;*/
	/*align-items: flex-start;*/
/*}*/

.main .sidebar {

	width: 190px;
	border: 1px solid rgba(19, 97, 138, 0.5);
	border-radius: 4px;
}

.main .sidebar .active {
	background-color: rgba(100, 100, 100, 0.1);
}
.main .sidebar .active a {
	color: rgba(0, 0, 0, 0.9);
}

.main .content {

	flex-grow: 1;
	margin-left: 20px;

}

.main .content .tab {

	display: none;
	margin: 0;
}

.main .content .tab.active {

	display: block !important;
}

.main .content .panel-body {

	padding-left: 0;
	padding-right: 0;
}

.main .content .list-group {

	padding-top: 0;
	padding-bottom: 0;
}

.main .content h4 {

	display: inline-block;
}
.main .content .list-group-item-text { 

	float: right;
	text-align: right;
}

.main .content .description h4 {

	display: block;
}
.main .content .description .list-group-item-text {

	float: none;
	text-align: justify !important;
}

.main .content form textarea {

	margin-top: 10px;
	width: 100%;
	resize: none;
}

.main .content form .input {

	width: 320px;
	padding: 2px;

	border-radius: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	text-align: left !important;
}

.main .content .panel-footer {

	text-align: right;
}

.clickable {
	cursor: pointer;
}

.clickable .glyphicon {
	background: rgba(0, 0, 0, 0.15);
	display: inline-block;
	padding: 6px 12px;
	border-radius: 4px
}

.panel-heading span {
	margin-top: -23px;
	font-size: 15px;
	margin-right: -9px;
}

a.clickable { color: inherit; }

a.clickable:hover { text-decoration:none; }


#showPlatformRegBtn {
    margin-bottom: 0.3em;
    float: right;
}
#platformPanel {
    clear:both;
    margin-bottom:0.3em;
}

.platformRegField {
    margin-bottom: 0.5em;
}

.has-feedback .form-control-feedback {
    top: 25px;
    right: 15px;
}

.has-feedback .form-control-feedback.sub-element {
    top: 0px;
    right: 15px;
}

.delPlatformBtn {
    float: right;
	margin-left: 0.25em;
}

.platformDelWarnBtn {
    float: right;
    margin-bottom: 0.25em;
}

.platform-info-footer {
    overflow: hidden;
}

.platformDelForm {
    clear: both;
    overflow: hidden;
}