body {
	
	margin: 0;
	padding: 0;

	background-color: rgb(252,252,252);

	color: rgb(102,102,102);
	font-family: "PT Sans Narrow",sans-serif;
}

a {

	text-decoration: none;
	color: rgb(102,102,102);
}


.header {

	width: 100%;
	margin-top: 20px;

	text-align: center;

	background-color: white;
	border-top: 1px solid rgba(0,0,0, 0.08);
	border-bottom: 1px solid rgba(0,0,0, 0.08);
}

.header .logo {

	width: 180px;
	height: 90px;

	vertical-align: middle;
}

.header .title{

	margin-left: 3%;
	vertical-align: middle;

	font-size: 32px;
}

.header .administrator {

	margin-left: 16%;
	display: inline-block;
	height: 90px;
	padding: 0 10px;

	line-height: 90px;
	text-align: center;

	border-left: 1px solid rgba(0,0,0, 0.08);
	border-right: 1px solid rgba(0,0,0, 0.08);
	font-size: 16px;
}
.header .administrator:hover {

	background-color: #4593BC;
	color: white;
}

.content {

	width: 100%;
	text-align: center;
	padding: 40px 0 80px 0;
}

.content .wrapper {

	width: 20%;
	max-width: 300px;
	margin: 0 5%;
	display: inline-block;

	background-color: rgba(69, 147, 188, 0.08);
	border-radius: 2px;

}

.content .label {

	padding: 15px;

	font-size: 20px;
	color: rgb(102, 102, 102);
}

.content .icon {

	width: 100px;
	height: 100px;
	margin: 20px auto 50px ;

	border: 4px solid rgb(69, 147, 188);
	border-radius: 52px;
}

.content .icon img {

	margin: 33px;
	width: 34px;
	height: 34px;
}

.content .login.button, .register.button {

	display: block;
	max-width: 60%;
	margin: 15px auto;
	padding: 3px 0;

	color: white;
}


.content .login.button {

	background-color: rgb(69, 147, 188);
}
.content .login.button:hover {

	background-color: rgb(119, 197, 238);
}

.content .register.button {

	background-color: rgb(59, 137, 178);
}
.content .register.button:hover {

	background-color: rgb(109, 187, 228);
}

.footer {

	width: 100%;

	background-color: #F5F5F5;
	border-top: 1px solid rgba(0,0,0, 0.08);

	text-align: center;
}

.footer .external {

	margin: 40px 30px;

	display: inline-block;
}

.footer img {

	height: 60px;
}

@media screen and (min-height: 700px ){

	.content {

		padding-top: 100px;
	}


	.footer {

		position: absolute;
		bottom: 40px;
	}
}

.overlay {

	display: none;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: rgba(0,0,0, 0.5);
}

.overlay .popup {

	width: 400px;
	margin: 213px auto;
	padding-bottom: 10px;

	background-color: white;
	border: 3px solid rgba(0,0,0, 0.6);
	box-shadow: 2px 2px 5px 5px rgba(0,0,0, 0.2);
}

.overlay table {

	width: 100%;
}

.overlay .title {

	padding: 15px;

	background-color: #F5F5F5;
	border-bottom: 1px solid rgba(0,0,0, 0.08);

	font-size: 24px;
	color: rgb(59, 137, 178);
	font-weight: bold;
}

.overlay .separator {

	height: 10px;
}

.overlay td {

	padding: 0 10px;
}

.overlay .input {

	text-align: right;
}

.overlay .error {

	display: none;

	padding: 10px 5px 20px;

	background-color: rgba(255, 109, 92, 0.3);
	color: rgb(48, 48, 48);
}

.overlay .submit {
	
	padding-top: 10px;
	text-align: center;
}

.overlay .submit input {

	padding: 5px 10px;
	border: none;
	
	font-size: 18px;
	background-color: rgb(59, 137, 178);
	color: white;
}
