.standalone .popup {

	width: 400px;
	margin: 213px auto;
	padding-bottom: 10px;

	background-color: white;
	border: 3px solid rgba(0,0,0, 0.6);
	box-shadow: 2px 2px 5px 5px rgba(0,0,0, 0.2);
}

table {

	width: 100%;
}

.title {

	padding: 15px;

	background-color: #F5F5F5;
	border-bottom: 1px solid rgba(0,0,0, 0.08);

	font-size: 24px;
	color: rgb(59, 137, 178);
	font-weight: bold;
}

.separator {

	height: 10px;
}

td {

	padding: 0 10px;
}

.input {

	text-align: right;
}

.error {

	display: none;

	padding: 10px 5px 20px;

	background-color: rgba(255, 109, 92, 0.3);
	color: rgb(48, 48, 48);
}

.submit {
	
	padding-top: 10px;
	text-align: center;
}

.submit input {

	padding: 5px 10px;
	border: none;
	
	font-size: 18px;
	background-color: rgb(59, 137, 178);
	color: white;
}