<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Sign In</title>

		<link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'/>
		<link rel="stylesheet" th:href="@{/static/css/home.css}" href="static/css/home.css" />
	</head>
	<body>
		<div class="popup" style="margin-top:113px;">
			<div class="popupContent success">
				<div class="title">Registration Succesful!</div>

				<div class="panel panel-default">
					<span class="panel-heading">Certificate:</span>
					<textarea class="panel-body" cols="78" rows="10" readonly="true" th:if="${pcert}" th:inline="text">[[${pcert}]]</textarea>
				</div>
				<div class="panel panel-default">
					<span class="panel-heading">Public Key:</span>
					<textarea class="panel-body" cols="78" rows="6" readonly="true" th:if="${pkey}" th:inline="text">[[${pkey}]]</textarea>
				</div>
				<div class="panel panel-default">
					<span class="panel-heading">Platform Id:</span>
					<textarea class="panel-body" cols="78" rows="1" readonly="true" style="scroll:none" th:if="${pid}" th:inline="text">[[${pid}]]</textarea>
				</div>

				<div class="alert alert-warning">Please login with your new account.</div>

				<div class="form-group">
					<!-- Button -->

					<div class="col-sm-12 controls">
						<a href="/platform/login" class="btn btn-success">Login</a>
						<a href="#" class="reminder">Download as .zip</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>