<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Control Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel='stylesheet' href='/administration/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'/>
    <link rel="stylesheet" th:href="@{/administration/css/cpanel.css}" href="../static/css/cpanel.css" />

    <script type="text/javascript" src="/administration/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/administration/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/administration/js/admincpanel.js}" src="../static/js/admincpanel.js"></script>
    <script type="text/javascript" th:src="@{/administration/js/validator.js}" src="../static/js/validator.js"></script>

    <!--<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>-->

    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


</head>
<body>

<script>
    setupAjax();
</script>

<div class="header shadow">
    <div class="container">
        <img class="logo" th:src="@{/administration/images/logo-1.1.png}" src="../static/administration/images/logo-1.1.png"/>
        <span class="title">User Dashboard</span>
        <div class="btn-group logout">

            <button class="btn top" th:text="${user.username}">Username</button>
            <button data-toggle="dropdown" class="btn dropdown-toggle">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="disabled">
                    <a href="#">Account Details</a>
                </li>
                <li class="divider">
                </li>
                <li >
                    <a href="/administration/user/logout">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="container tabbable">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked sidebar panel-primary shadow">

                    <li class="active"><a href="#admin-delete-platform-resources" data-toggle="tab">Delete Platform Resources</a></li>
                    <li><a href="#admin-delete-info-model" data-toggle="tab">Delete Information Model</a></li>

                    <li class="dropdown dropdown-submenu">
                        <a class="dropdown-toggle" href="#federation-panels" data-toggle="dropdown">Federations</a>
                        <ul id="federation-panels" class="dropdown-menu nav nav-pills nav-stacked sidebar panel-primary shadow">
                            <li><a href="#federation_requests" data-toggle="tab">Federation Requests</a></li>
                            <li><a href="#federation_list" data-toggle="tab">Federation List</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="tab-content clearfix col-md-9">

                <!-- Delete Platform Resources Tab-->
                <div class="tab-pane active" id="admin-delete-platform-resources">

                    <!-- Display errors -->
                    <div class="alert alert-danger alert-dismissable delete-platform-resources-error"
                         id="delete-platform-resources-error" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong></div>

                    <!-- Display success message -->
                    <div class="alert alert-success alert-dismissable" id="platform-resources-successful-deletion" style="display: none">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong>
                        <p>The platform resources were deleted successfully!</p></div>

                    <div class="form-group col-sm-6">
                        <input id="admin-delete-platform-resources-input" class="form-control" placeholder="Platform Id"/>
                        <div class="help-block">Id of the platform, the resources of which will be deleted</div>
                        <button type="button" id="admin-delete-platform-resources-btn" name="admin-delete-platform-resources-btn"
                                class="btn btn-default btn-danger">Submit</button>
                    </div>
                </div>

                <!-- Delete Information Model Tab-->
                <div class="tab-pane" id="admin-delete-info-model">

                    <!-- Display errors -->
                    <div class="alert alert-danger alert-dismissable delete-information-model-error"
                         id="delete-information-model-error" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong></div>

                    <!-- Display success message -->
                    <div class="alert alert-success alert-dismissable" id="info-model-successful-deletion" style="display: none">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong>
                        <p>The information model was deleted successfully!</p></div>

                    <div class="form-group col-sm-6">
                        <input id="admin-delete-info-model-input" class="form-control" placeholder="Information Model Id"/>
                        <div class="help-block">Id of the information model to be deleted</div>
                        <button type="button" id="admin-delete-info-model-btn" name="admin-delete-info-model-btn"
                                class="btn btn-default btn-danger">Submit</button>
                    </div>

                    <script>
                        storeNecessaryElements();
                    </script>
                </div>

                <!-- Federation Requests Tab-->
                <div class="tab-pane" id="federation_requests">
                    <h3>Federation Requests</h3>
                </div>

                <!-- Federation List Tab-->
                <div class="tab-pane" id="federation_list">

                    <!-- Display errors -->
                    <div class="alert alert-danger alert-dismissable list-federations-error" id="list-federations-error" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong></div>
                    <div class="alert alert-danger alert-dismissable leave-federation-error" id="leave-federation-error" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong></div>

                    <!-- Display success message -->
                    <div class="alert alert-success alert-dismissable" id="federation-registration-successful" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong>
                        <p>The federation was created successfully!</p></div>
                    <div class="alert alert-success alert-dismissable" id="leave-federation-successful" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong>
                        <p>Your platform left the federation successfully!</p></div>

                    <!-- Register new Federation by triggering the button-->
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-default registration-btn" data-toggle="modal"
                            data-target="#federation-reg-modal">Create New Federation</button>

                    <!-- Register Federation Modal -->
                    <div id="federation-reg-modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <form id="federation-registration-form" role="form" action="" data-toggle="validator">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title">Federation Creation</h3>
                                    </div>
                                    <div class="modal-body" id="federation-registration-modal-body">

                                        <!-- Display errors -->
                                        <div class="alert alert-danger alert-dismissable federation-registration-error"
                                             id="federation-registration-error" style="display: none">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Error!</strong></div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-12 form-group has-feedback">
                                                        <label>Federation Id</label>
                                                        <input type="text" class="form-control" minlength="4" maxlength="30"
                                                               id="federation-registration-id" name="id" placeholder="Enter preferred federation id"
                                                               pattern="^[\w-][\w-][\w-][\w-]+" data-pattern-error="From 4 to 30 characters.
                                                               Include only letters, digits, '-' and '_'"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">From 4 to 30 characters. Include only letters, digits, '-' and '_'</div>
                                                        <div class="alert alert-danger" id="federation-reg-error-id" style="display: none">
                                                            From 4 to 30 characters. Only letters, digits, '-' and '_' are permitted</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-12 form-group has-feedback">
                                                        <label>Federated Platform Id 1</label>
                                                        <input type="text" class="form-control" minlength="4" maxlength="30"
                                                               id="federated-platform-id-1" name="platform1Id"
                                                               placeholder="Enter the id of the platform you want to add to the federation"
                                                               pattern="^[\w-][\w-][\w-][\w-]+" data-pattern-error="From 4 to 30 characters.
                                                               Include only letters, digits, '-' and '_'."/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">From 4 to 30 characters. Include only letters, digits, '-' and '_'</div>
                                                        <div class="alert alert-danger" id="federation-reg-error-platform1-id" style="display: none">
                                                            From 4 to 30 characters. Only letters, digits, '-' and '_' are permitted</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-12 form-group has-feedback">
                                                        <label>Federated Platform Id 2</label>
                                                        <input type="text" class="form-control" minlength="4" maxlength="30"
                                                               id="federated-platform-id-2" name="platform2Id"
                                                               placeholder="Enter the id of the platform you want to add to the federation"
                                                               pattern="^[\w-][\w-][\w-][\w-]+" data-pattern-error="From 4 to 30 characters.
                                                               Include only letters, digits, '-' and '_'."/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">From 4 to 30 characters. Include only letters, digits, '-' and '_'</div>
                                                        <div class="alert alert-danger" id="federation-reg-error-platform2-id" style="display: none">
                                                            From 4 to 30 characters. Only letters, digits, '-' and '_' are permitted</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" id="federation-reg-btn" name="federation-reg-btn"
                                                class="btn btn-default btn-info">Submit</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Federation Panel Entry -->
                    <div class="panel panel-primary federation-panel-entry" id="federation-entry" style="display: none">
                        <div class="panel-heading clickable">
                            <h3 class="panel-title">FEDERATION_NAME</h3>
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></div>
                        <div class="panel-body" style="display: none;">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>Id</label>
                                            <p class="federation-id">FEDERATION_ID</p>
                                        </div>
                                        <div class="col-sm-6 form-group has-feedback">
                                            <label>Federated Platforms</label>
                                            <ul class="federated-platforms list-group">

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer platform-info-footer">

                            <!-- Trigger the federation delete modal with a button -->
                            <button type="button" class="btn btn-default btn-warning btn-warning-delete"
                                    data-toggle="modal" data-target="#del-federation-modal">Delete</button>

                            <!-- Federation Delete Modal -->
                            <div id="del-federation-modal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title text-danger">Are you sure you want to cancel the federation
                                                <strong>FEDERATION NAME</strong>?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-default btn-danger del-federation-btn">Verify Deletion</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Federation Details -->
                    <script>
                        storeNecessaryFederationElements();
                        buildFederationPanels();
                    </script>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>