<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Control Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'/>
    <link rel="stylesheet" th:href="@{/css/cpanel.css}" href="css/cpanel.css" />

    <script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/cpanel.js}" src="js/cpanel.js"></script>

</head>
<body>

<div class="header shadow">
    <div class="container">
        <img class="logo" th:src="@{/images/logo-1.1.png}" src="static/images/logo-1.1.png"></img>
        <span class="title">User Dashboard</span>
        <div class="btn-group logout">

            <button class="btn top" th:inline="text">[[${user.getUsername()}]]</button>
            <button data-toggle="dropdown" class="btn dropdown-toggle">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="disabled">
                    <a href="#">Account Details</a>
                </li>
                <li class="divider">
                </li>
                <li >
                    <a href="/user/logout">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="container tabbable">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked sidebar panel-primary shadow">
                    <!--<ul class="nav nav-stacked sidebar panel-primary shadow">-->

                    <li class="active">
                        <a href="#user_details" data-toggle="tab">User Details</a>
                    </li>
                    <li><a href="#clients_details" data-toggle="tab">Client Details</a>
                    </li>
                    <li th:if="${user.role == T(eu.h2020.symbiote.security.commons.enums.UserRole).PLATFORM_OWNER}">
                        <a href="#platform_details" data-toggle="tab">Platform Details</a>
                    </li>
                    <li th:if="${user.role == T(eu.h2020.symbiote.security.commons.enums.UserRole).PLATFORM_OWNER}">
                        <a href="#information_models" data-toggle="tab">Information Models</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content clearfix col-md-9">

                <div class="tab-pane active" id="user_details">
                    <h3>User Details</h3>
                </div>

                <div class="tab-pane" id="clients_details">
                    <h3>Client Details</h3>
                </div>

                <div class="tab-pane" id="platform_details" style="overflow: hidden; float: none">
                    <h3>Platform Details</h3>
                    <th:block th:each="platform : ${platforms}">
                        <div class="panel panel-primary">
                            <div class="panel-heading clickable">
                                <h3 class="panel-title" th:text="${platform.platformInstanceFriendlyName}">
                                    Platform Name
                                </h3>
                                <span class="pull-right"><i class="glyphicon glyphicon-minus"></i></span>
                            </div>
                            <div class="panel-body" th:text="${platform.platformInstanceId}">
                                Platform Id
                            </div>
                        </div>
                    </th:block>
                </div>

                <div class="tab-pane" id="information_models">
                    <h3>Information Models</h3>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>