<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Control Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'/>
    <link rel="stylesheet" th:href="@{/css/cpanel.css}" href="css/cpanel.css" />
</head>
<body>

<div class="header shadow">
    <div class="container">
        <img class="logo" th:src="@{/images/logo-1.1.png}" src="static/images/logo-1.1.png"></img>
        <span class="title">User Dashboard</span>
        <div class="btn-group logout">

            <button class="btn top" th:inline="text">[[${user.getUsername()}]]</button>
            <button data-toggle="dropdown" class="btn dropdown-toggle">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="disabled">
                    <a href="#">Account Details</a>
                </li>
                <li class="divider">
                </li>
                <li >
                    <a href="/user/logout">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--<div class="main">-->
    <!--<div class="container tabbable">-->
        <!--<ul class="nav nav-stacked sidebar panel-primary shadow">-->
            <!--<th:block th:if="${user.state!=1}">-->
                <!--<li class="panel-heading">-->
                    <!--<span>Platform Management</span>-->
                <!--</li>-->
                <!--<li th:classappend="${page}?:active">-->
                    <!--<a href="#platform_details" data-toggle="tab">Platform Details</a>-->
                <!--</li>-->
                <!--<th:block th:if="${user.state==2}">-->
                    <!--<li th:classappend="${page=='activate'}?active" >-->
                        <!--<a href="#platform_activate" data-toggle="tab">Activate Platform</a>-->
                    <!--</li>-->
                <!--</th:block>-->
                <!--<th:block th:if="${user.state==3}">-->
                    <!--<li th:classappend="${page=='modify'}?active" >-->
                        <!--<a href="#platform_modify" data-toggle="tab">Modify Platform</a>-->
                    <!--</li>-->
                    <!--<li th:classappend="${page=='disable'}?active" >-->
                        <!--<a href="#platform_disable" data-toggle="tab">Disable Platform</a>-->
                    <!--</li>-->
                    <!--<li class="panel-heading">-->
                        <!--<span>Resource Management</span>-->
                    <!--</li>-->
                <!--</th:block>-->
            <!--</th:block>-->
        <!--</ul>-->
        <!--<div class="tabs content shadow">-->
            <!--<th:block th:if="${user.state!=1}">-->
                <!--<div class="panel panel-default tab" th:classappend="${page}?:active" id="platform_details">-->
                    <!--<div class="panel-heading">-->
                        <!--<h3 class="panel-title">-->
                            <!--Platform Details-->
                        <!--</h3>-->
                    <!--</div>-->
                    <!--<div class="panel-body list-group">-->
                        <!--<div class="list-group-item">-->
                            <!--<h4 class="">-->
                                <!--Platform Status:-->
                            <!--</h4>-->
                            <!--<th:block th:if="${user.state==0}">-->
                            <!--<span class="list-group-item-text btn btn-danger">-->
                                <!--ERROR-->
                            <!--</span>-->
                            <!--</th:block>-->
                            <!--<th:block th:if="${user.state==2}">-->
                            <!--<span class="list-group-item-text btn btn-warning">-->
                                <!--INACTIVE-->
                            <!--</span>-->
                            <!--</th:block>-->
                            <!--<th:block th:if="${user.state==3}">-->
                            <!--<span class="list-group-item-text btn btn-success">-->
                                <!--ACTIVE-->
                            <!--</span>-->
                            <!--</th:block>-->
                        <!--</div>-->
                        <!--<div class="list-group-item">-->
                            <!--<h4 class="list-group-item-heading">-->
                                <!--Platform Id:-->
                            <!--</h4>-->
                            <!--<div class="list-group-item-text" th:inline="text">-->
                                <!--[[${user.platformId}]]-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="list-group-item">-->
                            <!--<h4 class="list-group-item-heading">-->
                                <!--Platform Name:-->
                            <!--</h4>-->
                            <!--<div class="list-group-item-text" th:inline="text">-->
                                <!--[[${user.platformName}]]-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="list-group-item">-->
                            <!--<h4 class="list-group-item-heading">-->
                                <!--Platform Address:-->
                            <!--</h4>-->
                            <!--<div class="list-group-item-text" th:inline="text">-->
                                <!--[[${user.platformUrl}]]-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<th:block th:if="${user.state==3}">-->
                            <!--<div class="list-group-item description">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Description:-->
                                <!--</h4>-->
                                <!--<div class="list-group-item-text" th:inline="text">-->
                                    <!--[[${user.platformDetails.description}]]-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="list-group-item">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Information Model:-->
                                <!--</h4>-->
                                <!--<div class="list-group-item-text" th:inline="text">-->
                                    <!--[[${user.platformDetails.informationModelId}]]-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</th:block>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<th:block th:if="${user.state==2}">-->
                    <!--<form class="panel panel-default tab" th:classappend="${page=='activate'}?active" id="platform_activate" th:action="@{/user/cpanel/activate}" th:object="${platformDetails}" method="post">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">-->
                                <!--Activate Platform-->
                            <!--</h3>-->
                        <!--</div>-->
                        <!--<div class="panel-body list-group">-->
                            <!--<div class="list-group-item">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Id:-->
                                <!--</h4>-->
                                <!--<div class="list-group-item-text" th:inline="text">-->
                                    <!--[[${user.platformId}]]-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="list-group-item">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Name:-->
                                <!--</h4>-->
                                <!--<div class="list-group-item-text" th:inline="text">-->
                                    <!--[[${user.platformName}]]-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="list-group-item">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Address:-->
                                <!--</h4>-->
                                <!--<div class="list-group-item-text" th:inline="text">-->
                                    <!--[[${user.platformUrl}]]-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="list-group-item description">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Description:-->
                                <!--</h4>-->
                                <!--<textarea class="list-group-item-text" id="description" name="description" value=""></textarea>-->
                                <!--<div class="alert alert-danger" th:if="${error_description}" th:text="${error_description}"></div>-->
                            <!--</div>-->
                            <!--<div class="list-group-item">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Information Model:-->
                                <!--</h4>-->
                                <!--<input class="list-group-item-text input" id="informationModelId" name="informationModelId" value=""></input>-->
                                <!--<div class="alert alert-danger" th:if="${error_informationModelId}" th:text="${error_informationModelId}"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<input class="btn btn-success" type="submit" name="submit" value="Activate"></input>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</th:block>-->
                <!--<th:block th:if="${user.state==3}">-->
                    <!--<form class="panel panel-default tab" th:classappend="${page=='modify'}?active" id="platform_modify" th:action="@{/user/cpanel/modify}" method="post">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">-->
                                <!--Modify Platform-->
                            <!--</h3>-->
                        <!--</div>-->
                        <!--<div class="panel-body list-group">-->
                            <!--<div class="list-group-item">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Id:-->
                                <!--</h4>-->
                                <!--<div class="list-group-item-text" th:inline="text">-->
                                    <!--[[${user.platformId}]]-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="list-group-item">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Name:-->
                                <!--</h4>-->
                                <!--<div class="list-group-item-text" th:inline="text">-->
                                    <!--[[${user.platformName}]]-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="list-group-item">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Address:-->
                                <!--</h4>-->
                                <!--<div class="list-group-item-text" th:inline="text">-->
                                    <!--[[${user.platformUrl}]]-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="list-group-item description">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Description:-->
                                <!--</h4>-->
                                <!--<textarea class="list-group-item-text" id="description" name="description" value=""></textarea>-->
                            <!--</div>-->
                            <!--<div class="list-group-item">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Information Model:-->
                                <!--</h4>-->
                                <!--<input class="list-group-item-text input" id="informationModelId" name="informationModelId" value=""></input>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<input class="btn btn-warning" type="submit" name="submit" value="Update"></input>-->
                        <!--</div>-->
                    <!--</form>-->
                    <!--<form class="panel panel-default tab" th:classappend="${page=='disable'}?active" id="platform_disable" th:action="@{/user/cpanel/disable}" method="post">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">-->
                                <!--Disable Platform-->
                            <!--</h3>-->
                        <!--</div>-->
                        <!--<div class="panel-body list-group">-->
                            <!--<div class="list-group-item">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Id:-->
                                <!--</h4>-->
                                <!--<div class="list-group-item-text" th:inline="text">-->
                                    <!--[[${user.platformId}]]-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="list-group-item">-->
                                <!--<h4 class="list-group-item-heading">-->
                                    <!--Platform Name:-->
                                <!--</h4>-->
                                <!--<div class="list-group-item-text" th:inline="text">-->
                                    <!--[[${user.platformName}]]-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="list-group-item">-->
                                <!--<h4 class="text-danger">-->
                                    <!--Warning - if you disable this platform, some information may be lost!-->
                                <!--</h4>-->
                                <!--<p>-->
                                    <!--(During release 0.2.0, make sure you have deleted all registered resources)-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<input class="btn btn-danger" type="submit" name="submit" value="Disable"></input>-->
                        <!--</div>-->
                    <!--</form>-->
                    <!--<div class="panel panel-default tab" id="resource_list" method="post">-->
                        <!--<div class="panel-heading">-->
                            <!--<h3 class="panel-title">-->
                                <!--List of platform resources-->
                            <!--</h3>-->
                            <!--<ul>-->
                                <!--<th:block th:each="resource : ${resources}">-->
                                    <!--<li th:text="${resource}"></li>-->
                                <!--</th:block>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</th:block>-->
            <!--</th:block>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->




<script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>