<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Control Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/cpanel.css}" href="css/cpanel.css" />
</head>
<body>
    <div class="header">
        <img class="logo" th:src="@{/images/logo-1.1.png}" src="images/logo-1.1.png"></img>
        <span class="title" th:if="${#httpServletRequest.isUserInRole('ROLE_APP')}">App Developer Control Panel</span>
        <span class="title" th:if="${#httpServletRequest.isUserInRole('ROLE_PLATFORM')}">Platform Provider Control Panel</span>
        <span class="title" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">Administrator Control Panel</span>
        <span class="user" th:inline="text">User: [[${#httpServletRequest.remoteUser}]]</span>
        <form class="logout" th:action="@{/app/logout}" method="post" th:if="${#httpServletRequest.isUserInRole('ROLE_APP')}">
            <input class="button" type="submit" value="Log Out"></input>
        </form>
        <form class="logout" th:action="@{/platform/logout}" method="post" th:if="${#httpServletRequest.isUserInRole('ROLE_PLATFORM')}">
            <input class="button" type="submit" value="Log Out"></input>
        </form>
        <form class="logout" th:action="@{/admin/logout}" method="post" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
            <input class="button" type="submit" value="Log Out"></input>
        </form>
        <!-- <span class="title">Control Panel</span>
        <span class="user" th:inline="text">User: platform</span>
        <form class="logout">
            <input class="button" type="submit" value="Log Out">
        </form> -->
    </div>
    <div class="content">
        <ul class="sidebar">
            <li class="action active" id="app_status" th:if="${#httpServletRequest.isUserInRole('ROLE_APP')}">Status</li>
            <li class="action" id="app_edit" th:if="${#httpServletRequest.isUserInRole('ROLE_APP')}">Edit Details</li>
            <li class="action" id="app_unregister" th:if="${#httpServletRequest.isUserInRole('ROLE_APP')}">Unregister</li>

            <li class="action active" id="platform_status" th:if="${#httpServletRequest.isUserInRole('ROLE_PLATFORM')}">Status</li>
            <li class="action" id="platform_edit" th:if="${#httpServletRequest.isUserInRole('ROLE_PLATFORM')}">Edit Details</li>
            <li class="action" id="platform_unregister" th:if="${#httpServletRequest.isUserInRole('ROLE_PLATFORM')}">Unregister</li>

            <li class="action active" id="admin_status" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">Status</li>
            <li class="action" id="admin_logs" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">System Logs</li>

            <li class="action" id="account">Account</li>
        </ul>
        <div class="tabs">
            <div class="tab active" id="app_status_tab" th:if="${#httpServletRequest.isUserInRole('ROLE_APP')}">
                <span>App Status</span>
            </div>
            <div class="tab" id="app_edit_tab" th:if="${#httpServletRequest.isUserInRole('ROLE_APP')}">
                <form>
                    <table>
                    <tr>
                        <th class="title" colspan="2">Edit Application Details</th>
                    </tr>
                    <tr><td class="separator"></td></tr>
                    <tr>
                        <td class="label">Name:</td>
                        <td class="input"><input type="text" name="platformname" value=""></input></td>
                    </tr>
                    <tr><td class="separator"></td></tr>
                    <tr>
                        <td class="label">Location:</td>
                        <td class="input"><input type="text" name="location" value=""></input></td>
                    </tr>
                    <tr><td class="separator"></td></tr>
                    <tr><td class="submit" colspan="2"><input class="button" type="submit" name="submit" value="Update"></input></td></tr>
                </table>
                </form>
            </div>
            <div class="tab" id="app_unregister_tab" th:if="${#httpServletRequest.isUserInRole('ROLE_APP')}">
                App Unregister Form
            </div>
            
            <div class="tab active" id="platform_status_tab" th:if="${#httpServletRequest.isUserInRole('ROLE_PLATFORM')}">
                <span>Platform Status</span>
            </div>
            <div class="tab" id="platform_edit_tab" th:if="${#httpServletRequest.isUserInRole('ROLE_PLATFORM')}">
                <form>
                    <table>
                    <tr>
                        <th class="title" colspan="2">Edit Platform Details</th>
                    </tr>
                    <tr><td class="separator"></td></tr>
                    <tr>
                        <td class="label">Name:</td>
                        <td class="input"><input type="text" name="platformname" value=""></input></td>
                    </tr>
                    <tr><td class="separator"></td></tr>
                    <tr>
                        <td class="label">Location:</td>
                        <td class="input"><input type="text" name="location" value=""></input></td>
                    </tr>
                    <tr><td class="separator"></td></tr>
                    <tr><td class="submit" colspan="2"><input class="button" type="submit" name="submit" value="Update"></input></td></tr>
                </table>
                </form>
            </div>
            <div class="tab" id="platform_unregister_tab" th:if="${#httpServletRequest.isUserInRole('ROLE_PLATFORM')}">
                Platform Unregister Form
            </div>

            <div class="tab active" id="admin_status_tab" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
                <span>System Status</span>
            </div>
            <div class="tab" id="admin_logs_tab" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">
                Logs Tab
            </div>

            <div class="tab" id="account_tab">
                
                Account Settings
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
    <div class="overlay wrapper">
    </div>
    <script type="text/javascript" src="/webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/cpanel.js}" src="js/cpanel.js"></script>
</body>
</html>