<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Access Denied</title>
        <link rel="stylesheet" th:href="@{/css/home.css}" href="css/home.css" />
    </head>
    <body>
        <div class="popup">
            <div class="denied">
                <div class="title">Access Denied</div>
                <div class="error" th:inline="text">User: [[${#httpServletRequest.remoteUser}]], you are not authorized to access this page.</div>
                <div class="submit">
                    <a href="/app/cpanel" th:if="${#httpServletRequest.isUserInRole('ROLE_APP')}">App Control Panel</a>
                    <a href="/platform/cpanel" th:if="${#httpServletRequest.isUserInRole('ROLE_PLATFORM')}">Platform Control Panel</a>
                    <a href="/admin/cpanel" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}">Admin Control Panel</a>
                </div>
            </div>
        </div>
    </body>
</html>