<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>SymbIoTe Core</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<link rel='stylesheet' href='/administration/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'/>
		<link rel="stylesheet" th:href="@{/administration/css/home.css}" href="../static/css/home.css" />
        <link rel="stylesheet" th:href="@{/administration/css/bootstrap-select.min.css}" href="../static/css/bootstrap-select.min.css" />

        <script type="text/javascript" src="/administration/webjars/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="/administration/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/administration/js/home.js}" src="js/home.js"></script>
        <script type="text/javascript" th:src="@{/administration/js/bootstrap-select.min.js}" src="js/bootstrap-select.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.selectpicker').selectpicker();
            });
        </script>

    </head>
	<body>
		<div class="header">
			<img class="logo" th:src="@{/administration/images/logo-1.1.png}" src="administration/images/logo-1.1.png"></img>
			<span class="title">Administration</span>
			<a class="admin button" href="/administration/admin/login">SymbIoTe Admin</a>
		</div>
		<div class="content">
			<div class="wrapper platform">
				<div class="title">User Management</div>
				<div class="icon">
					<img th:src="@{/administration/images/suitcase.png}" src="administration/images/suitcase.png"></img>
				</div>
				<a class="login button" href="/administration/user/login">Sign In</a>
				<a class="register button" href="/administration/register">Register</a>
			</div>
		</div>
		<div class="footer">
			<a class="external symbiote" href="http://www.symbiote-h2020.eu/">
				<img th:src="@{/administration/images/symbiote-homepage.png}" src="administration/images/symbiote-homepage.png"></img>
			</a>
			<a class="external epi" href="http://iot-epi.eu/">
				<img th:src="@{/administration/images/IoT-EPI-logo1.png}" src="administration/images/IoT-EPI-logo1.png"></img>
			</a>
			<a class="external commision">
				<img th:src="@{/administration/images/ECH2020.png}" src="administration/images/ECH2020.png"></img>
			</a>
		</div>
		<div class="overlay wrapper">
			<div class="popup">
			</div>
		</div>

	</body>
</html>