<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Sign In</title>

		<link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'/>
		<link rel="stylesheet" th:href="@{/css/home.css}" href="css/home.css" />
        <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" href="css/bootstrap-select.min.css" />

        <script type="text/javascript" src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
        <script type="text/javascript" src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}" src="js/bootstrap-select.min.js"></script>
        <script>
            $(document).ready(function(e) {
            $('.selectpicker').selectpicker();
        });
        </script>

    </head>
	<body>
		<div class="popup">
			<form th:action="@{${#httpServletRequest.requestURI}}" th:object="${coreUser}" class="login form-horizontal" role="form" method="post">

				<div class="title">Registration</div>

				<!-- In the validation fields the th:errors when present overwrites the text message -->
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" th:field="*{validUsername}" th:value="${usernameSelected}" placeholder="Username"/>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('validUsername')}" th:errors="*{validUsername}">Invalid Username!</div>

				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" class="form-control" th:field="*{validPassword}" value="" placeholder="Password"/>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('validPassword')}" th:errors="*{validPassword}">Invalid Password!</div>

				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					<input type="text" class="form-control" th:field="*{recoveryMail}" th:value="${emailSelected}" placeholder="Email"/>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('recoveryMail')}" th:errors="*{recoveryMail}">Invalid Email!</div>

                <div class="input-group">
                    <select class="selectpicker" th:field="*{role}">
                        <option th:each="role : ${allRoles}"
                                th:value="${role.enumValue}"
                                th:text="${role.enumText}"
                                th:selected="${role.isSelected(roleSelected)}"></option>
                    </select>
                </div>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('role')}" th:errors="*{recoveryMail}">Invalid Email!</div>
                <div class="alert alert-danger" th:if="${error_role}" th:text="${error_role}">Invalid Email!</div>

                <div class="form-group">
					<!-- Button -->

					<div class="col-sm-12 controls">
						<button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary">Register</button>
						<a href="#" class="reminder">Forgot your password?</a>
					</div>
				</div>

				<div class="alert alert-warning" th:if="${message}" th:inline="text">[[${message}]]</div>
				<div class="alert alert-danger" th:if="${error}" th:inline="text">[[${error}]]</div>
			</form>
		</div>

    </body>
</html>