<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Sign In</title>

		<link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'/>
		<link rel="stylesheet" th:href="@{/css/home.css}" href="css/home.css" />
	</head>
	<body>
		<div class="popup">
			<form th:action="@{${#httpServletRequest.requestURI}}" th:object="${coreUser}" class="login form-horizontal" role="form" method="post">

				<div class="title" th:if="${#httpServletRequest.requestURI == '/register/platform'}">Platform Owner Registration</div>
				<div class="title" th:if="${#httpServletRequest.requestURI == '/register/app'}">Application Owner Registration</div>

				<!-- In the validation fields the th:errors when present overwrites the text message -->
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" th:field="*{validUsername}" value="" placeholder="Username"/>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('validUsername')}" th:errors="*{validUsername}">Invalid Username!</div>

				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" class="form-control" th:field="*{validPassword}" value="" placeholder="Password"/>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('validPassword')}" th:errors="*{validPassword}">Invalid Password!</div>

				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					<input type="text" class="form-control" th:field="*{recoveryMail}" value="" placeholder="Email"/>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('recoveryMail')}" th:errors="*{recoveryMail}">Invalid Email!</div>

				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-magnet"></i></span>
					<input disabled="true" type="text" class="form-control" th:field="*{federatedId}" value="" placeholder="Federated id (optional, unused in R2)"/>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('federatedId')}" th:errors="*{federatedId}">Invalid Id!</div>

				<hr />

				<div class="input-group" th:if="${#httpServletRequest.requestURI == '/register/platform'}">
					<span class="input-group-addon"><i class="glyphicon glyphicon-font"></i></span>
					<input type="text" class="form-control" th:field="*{platformName}" value="" placeholder="Platform Name"/>
				</div>
				<div class="alert alert-danger" th:if="${#httpServletRequest.requestURI == '/register/platform' and #fields.hasErrors('platformName')}" th:errors="*{platformName}">Invalid Platform Name!</div>

				<div class="input-group" th:if="${#httpServletRequest.requestURI == '/register/platform'}">
					<span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
					<input type="url" class="form-control" th:field="*{platformUrl}" value="" placeholder="Platform Address"/>
				</div>
				<div class="alert alert-danger" th:if="${#httpServletRequest.requestURI == '/register/platform' and #fields.hasErrors('platformUrl')}" th:errors="*{platformUrl}">Invalid Platform Address!</div>

				<div class="input-group" th:if="${#httpServletRequest.requestURI == '/register/platform'}">
					<span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
					<input type="text" class="form-control" th:field="*{platformId}" value="" placeholder="Preferred platform id"/>
				</div>
				<div class="alert alert-danger" th:if="${#httpServletRequest.requestURI == '/register/platform' and #fields.hasErrors('platformId')}" th:errors="*{platformId}">Invalid Platform Id! (Must not be empty and must contain only letters, numbers and "-" or "_", up to 30 characters)</div>

				<div class="form-group">
					<!-- Button -->

					<div class="col-sm-12 controls">
						<button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary">Register</button>
						<a href="#" class="reminder">Forgot your password?</a>
					</div>
				</div>

				<div class="alert alert-warning" th:if="${message}" th:inline="text">[[${message}]]</div>
				<div class="alert alert-danger" th:if="${error}" th:inline="text">[[${error}]]</div>
			</form>
		</div>
	</body>
</html>