<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Control Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel='stylesheet' href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'/>
    <link rel="stylesheet" th:href="@{/css/cpanel.css}" href="../static/css/cpanel.css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" href="../static/css/bootstrap-select.min.css" />

    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/cpanel.js}" src="../static/js/cpanel.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-select.min.js}" src="../static/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" th:src="@{/js/validator.js}" src="../static/js/validator.js"></script>


    <!--<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>-->

    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->


</head>
<body>

<script>
    setupAjax();
</script>

<div class="header shadow">
    <div class="container">
        <img class="logo" th:src="@{/images/logo-1.1.png}" src="../static/images/logo-1.1.png"/>
        <span class="title">User Dashboard</span>
        <div class="btn-group logout">

            <button class="btn top" th:text="${user.username}">Username</button>
            <button data-toggle="dropdown" class="btn dropdown-toggle">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li class="disabled">
                    <a href="#">Account Details</a>
                </li>
                <li class="divider">
                </li>
                <li >
                    <a href="/administration/user/logout">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="container tabbable">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav nav-pills nav-stacked sidebar panel-primary shadow">
                    <!--<ul class="nav nav-stacked sidebar panel-primary shadow">-->

                    <li class="active"><a href="#user_details" data-toggle="tab">User Details</a></li>
                    <li><a href="#clients_details" data-toggle="tab">Client Details</a></li>
                    <li th:if="${user.role == T(eu.h2020.symbiote.security.commons.enums.UserRole).PLATFORM_OWNER}">
                        <a href="#platform-details" data-toggle="tab">Platform Details</a>
                    </li>
                    <li th:if="${user.role == T(eu.h2020.symbiote.security.commons.enums.UserRole).PLATFORM_OWNER}">
                        <a href="#information-models" data-toggle="tab">Information Models</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content clearfix col-md-9">

                <!-- User Details Tab-->
                <div class="tab-pane active" id="user_details">
                    <h3>User Details</h3>
                </div>

                <!-- Client Details Tab-->
                <div class="tab-pane" id="clients_details">
                    <h3>Client Details</h3>
                </div>

                <!-- Platform Details Tab-->
                <div class="tab-pane" id="platform-details">

                    <!-- Display errors -->
                    <div class="alert alert-danger alert-dismissable list-owned-platforms-error" id="list-owned-platforms-error" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong></div>
                    <div class="alert alert-danger alert-dismissable delete-platform-error" id="delete-platform-error" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong></div>

                    <!-- Display success message -->
                    <div class="alert alert-success alert-dismissable" id="platform-registration-successful" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong>
                        <p>The platform was registered successfully!</p></div>
                    <div class="alert alert-success alert-dismissable" id="platform-successful-deletion" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong>
                        <p>The platform was deleted successfully!</p></div>

                    <!-- Register new Platform by triggering the button-->
                    <!-- Trigger the modal with a button -->
                    <button type="button" id="registration-btn" class="btn btn-info btn-default registration-btn" data-toggle="modal"
                            data-target="#platform-registration-modal">Register New Platform</button>

                    <!-- Platform Registration Modal -->
                    <div id="platform-registration-modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <form id="platform-registration-form" role="form" method="" action=""
                                      data-toggle="validator">

                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title">Platform Registration</h3></div>

                                    <div class="modal-body" id="platform-registration-modal-body">

                                        <!-- Display errors -->
                                        <div class="alert alert-danger alert-dismissable list-all-info-model-error"
                                             id="list-all-info-model-error" style="display: none">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Error!</strong></div>
                                        <div class="alert alert-danger alert-dismissable platform-registration-error"
                                             id="platform-registration-error" style="display: none">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Error!</strong></div>

                                        <!-- Registration Form -->
                                        <div class="row" id="platform-registration-row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>Platform Id</label>
                                                        <input type="text" class="form-control platformRegField" maxlength="30"
                                                               id="platform-registration-id" name="id" placeholder="Enter preferred platform id"
                                                               pattern="^[\w-][\w-][\w-][\w-]+$" data-pattern-error="From 4 to 30 characters.
                                                               Include only letters, digits, '-' and '_'. You can leave it empty for autogeneration"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">From 4 to 30 characters. Include only letters, digits, '-' and '_'. You can leave it
                                                            empty for autogeneration</div>
                                                        <div class="alert alert-danger" id="pl-reg-error-id" style="display: none">
                                                            Up to 30 characters. Only letters, digits, '-' and '_' are permitted. Or leave it
                                                            empty for autogeneration</div>
                                                    </div>
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>Platform Name</label>
                                                        <input type="text"  class="form-control platformRegField"
                                                               id="platform-registration-name" name="name" placeholder="Enter the platform name"
                                                               minlength="3" maxlength="30" required="required"
                                                               data-required-error="Platform name is required"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">From 3 to 30 characters</div>
                                                        <div class="alert alert-danger" id="pl-reg-error-name" style="display: none">Invalid name!</div>
                                                    </div>
                                                </div>
                                                <div class="form-group has-feedback">
                                                    <label>Platform Description</label>
                                                    <textarea  class="form-control platformRegField"
                                                               id="platform-registration-description" name="description" placeholder="Enter the platform description"
                                                               rows="3" minlength="4" maxlength="300" required="required"
                                                               data-required-error="Platform description is required"></textarea>
                                                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                    <div class="help-block with-errors">From 4 to 30 characters</div>
                                                    <div class="alert alert-danger" id="pl-reg-error-description" style="display: none">Invalid Description!</div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Interworking Services</label>
                                                    <div class="row interworking-service">
                                                        <div class="col-sm-8 form-group has-feedback">
                                                            <input type="url" class="form-control platformRegField interworking-service-url"
                                                                   placeholder="Enter a valid https url" data-pattern-error="Please enter a valid https url"
                                                                   data-error="Not valid https url" required="required" data-required-error="A valid https url is required"
                                                                   pattern="^(https:\/\/www\.|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$"/>
                                                            <span class="glyphicon form-control-feedback sub-element" aria-hidden="true"></span>
                                                            <div class="help-block with-errors"></div>
                                                            <div class="alert alert-danger pl-reg-error-interworkingServices-url" style="display: none">Invalid information url!</div>
                                                        </div>
                                                        <div class="col-sm-4 form-group">
                                                            <div class="platformRegField">
                                                                <select class="selectpicker form-control platformRegField info-model-select"
                                                                        id="platform-registration-info-model-id" required="required"
                                                                        data-live-search="true" title="Information Model"
                                                                        data-required-error="Information model is required">
                                                                </select>
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                            <div class="alert alert-danger pl-reg-error-interworkingServices-informationModelId"
                                                                 style="display: none">Invalid information Model!</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-sm-4 form-group">
                                                        <label>Type</label>
                                                        <select class="selectpicker form-control platformRegField"
                                                                id="isEnabler" name="isEnabler" required="required"
                                                                data-required-error="Type is required">
                                                            <option value="false">Platform</option>
                                                            <option value="true">Enabler</option>
                                                        </select>
                                                        <div class="help-block with-errors"></div>
                                                        <div class="alert alert-danger" id="pl-reg-error-isEnabler"
                                                             style="display: none">Invalid Type!</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" id="registration-platform-btn" name="registration-platform-btn"
                                                class="btn btn-default btn-info">Submit</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Platform Panel Entry -->
                    <div class="panel panel-primary platform-panel-entry" id="platform-entry" style="display: none">

                        <div class="panel-heading clickable">
                            <h3 class="panel-title">
                                PLATFORM NAME
                            </h3>
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                        </div>

                        <div class="panel-body" style="display: none;">
                            <div class="row" id="platform-update-row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group has-feedback">
                                            <label>Platform Id</label>
                                            <input type="text" class="form-control platformRegField platform-update-id" maxlength="30"
                                                   placeholder="Enter preferred platform id"
                                                   pattern="^[\w-][\w-][\w-][\w-]+$" disabled="disabled" data-pattern-error="From 4 to 30 characters.
                                                               Include only letters, digits, '-' and '_'. You can leave it empty for autogeneration"/>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            <!--<div class="help-block with-errors">From 4 to 30 characters. Include only letters, digits, '-' and '_'. You can leave it-->
                                                <!--empty for autogeneration</div>-->
                                            <div class="alert alert-danger" id="pl-update-error-id" style="display: none">
                                                Up to 30 characters. Only letters, digits, '-' and '_' are permitted. Or leave it
                                                empty for autogeneration</div>
                                        </div>
                                        <div class="col-sm-6 form-group has-feedback">
                                            <label>Platform Name</label>
                                            <input type="text"  class="form-control platformRegField platform-update-name"
                                                   name="name" placeholder="Enter the platform name"
                                                   minlength="3" maxlength="30" required="required" disabled="disabled"
                                                   data-required-error="Platform name is required"/>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            <!--<div class="help-block with-errors">From 3 to 30 characters</div>-->
                                            <div class="alert alert-danger" id="pl-update-error-name" style="display: none">Invalid name!</div>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label>Platform Description</label>
                                        <textarea  class="form-control platformRegField platform-update-description"
                                                   name="description" placeholder="Enter the platform description"
                                                   rows="3" minlength="3" maxlength="300" required="required" disabled="disabled"
                                                   data-required-error="Platform description is required"></textarea>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                        <!--<div class="help-block with-errors">From 4 to 30 characters</div>-->
                                        <div class="alert alert-danger" id="pl-update-error-description" style="display: none">Invalid Description!</div>
                                    </div>
                                    <div class="form-group">
                                        <label>Interworking Services</label>
                                        <div class="row interworking-service">
                                            <div class="col-sm-8 form-group has-feedback">
                                                <input type="url" class="form-control platformRegField platform-update-interworking-service-url"
                                                       placeholder="Enter a valid https url" disabled="disabled"
                                                       pattern="^(https:\/\/www\.|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$"
                                                       data-pattern-error="Please enter a valid https url" data-error="Not valid url"
                                                       required="required" data-required-error="A valid https url is required"/>
                                                <span class="glyphicon form-control-feedback sub-element" aria-hidden="true"></span>
                                                <div class="help-block with-errors"></div>
                                                <div class="alert alert-danger pl-update-error-interworkingServices-url" style="display: none">Invalid information url!</div>
                                            </div>
                                            <div class="col-sm-4 form-group">
                                                <div class="platformRegField">
                                                    <select class="selectpicker form-control platformRegField update-info-model-select"
                                                            required="required" disabled="disabled" data-live-search="true"
                                                            data-required-error="Information model is required" >
                                                    </select>
                                                    <div class="help-block with-errors"></div>
                                                </div>
                                                <div class="alert alert-danger pl-update-error-interworkingServices-informationModelId"
                                                     style="display: none">Invalid information Model!</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-4 form-group">
                                            <label>Type</label>
                                            <select class="selectpicker form-control platformRegField update-isEnabler"
                                                    name="update-isEnabler" required="required" disabled="disabled"
                                                    data-required-error="Type is required">
                                                <option value="false">Platform</option>
                                                <option value="true">Enabler</option>
                                            </select>
                                            <div class="help-block with-errors"></div>
                                            <div class="alert alert-danger" id="pl-update-error-isEnabler"
                                                 style="display: none">Invalid Type!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer platform-info-footer">

                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-default btn-warning btn-warning-delete"
                                    data-toggle="modal" data-target="#platform-del-modal">Delete</button>
                            <button type="button" class="btn btn-default btn-info btn-info-platform-config"
                                    data-toggle="modal" data-target="#platform-configuration">Get Configuration</button>

                            <!-- Modal -->
                            <div id="platform-del-modal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Are you sure you want to delete the platform
                                                <strong>PLATFORMINSTANCEFRIENDLYNAME</strong>?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h4 class="text-danger">Warning - if you delete this platform, some information may be lost!</h4>
                                            <p>(During release 1.1.0, make sure you have deleted all registered resources)</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-default btn-danger del-platform-btn">Verify Deletion</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div id="platform-configuration-modal" class="modal fade platform-config-modal" role="dialog">
                                <div class="modal-dialog">
                                    <form id="get-platform-config-form" class="get-platform-config-form" role="form"
                                          method="" action="" data-toggle="validator">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Get Configuration for platform
                                                    <strong>PLATFORMINSTANCEFRIENDLYNAME</strong></h4>
                                            </div>
                                            <div class="modal-body">

                                                <!-- Display errors -->
                                                <div class="alert alert-danger alert-dismissable get-platform-config-error"
                                                     id="get-platform-config-error" style="display: none">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                    <strong>Error!</strong></div>

                                                <div class="row">
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>Platform Admin Username</label>
                                                        <input type="text" class="form-control paam-username"
                                                               placeholder="Mandatory Field" required="required"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">The Platform Owner Username in your Cloud deployment</div>
                                                    </div>
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>Platform Admin Password</label>
                                                        <input type="text" class="form-control paam-password"
                                                               required="required" placeholder="Mandatory Field"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">The Platform Owner Password in your Cloud deployment</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>Host SSL Keystore File Name</label>
                                                        <input type="text" class="form-control ssl-keystore"
                                                               required="required" placeholder="Mandatory Field"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">The name of the keystore containing the letsencrypt
                                                            (or other) certificate and key pair for your AAM host's SSL (including any suffixes e.g. .p12</div>
                                                    </div>
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>Host SSL Keystore Password</label>
                                                        <input type="text" class="form-control ssl-keystore-password"
                                                               required="required" placeholder="Mandatory Field"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">The SSL keystore password</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>Host SSL Key Password</label>
                                                        <input type="text" class="form-control ssl-key-password"
                                                               required="required" placeholder="Mandatory Field"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">The SSL certificate private key password</div>
                                                    </div>
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>Components Keystore Password</label>
                                                        <input type="text" class="form-control component-keystore-password"
                                                               placeholder="Optional"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">The keystore password in your cloud components (apart from PAAM) <br/>
                                                            <strong>Default:</strong> 'pass'</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>AAM Keystore File Name</label>
                                                        <input type="text" class="form-control aam-keystore-name"
                                                               placeholder="Optional"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">The name of the AAM keystore generated.<br/>
                                                            <strong>Default:</strong> 'paam-keystore-{platform_name}'</div>
                                                    </div>
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>AAM Keystore Password</label>
                                                        <input type="text" class="form-control aam-keystore-password"
                                                               placeholder="Optional"
                                                               maxlength="7"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">The password of the AAM keystore. MUST NOT be longer than 7 chars<br/>
                                                            <strong>Default:</strong> 'pass'</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>Token Validity in milliseconds</label>
                                                        <input type="" class="form-control token-validity"
                                                               pattern="^[0-9]+$" data-pattern-error="Only digits are permitted"
                                                               placeholder="Optional"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">How long the tokens issued to your users (apps) are valid in ms. Think maybe of an hour, day, week?<br/>
                                                            <strong>Default:</strong> 600000 (10 mins)</div>
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        <label>Use built-in RAP plugin</label>
                                                        <select class="selectpicker form-control built-in-plugin"
                                                                id="built-in-plugin" name="built-in-plugin">
                                                            <option value="false">No</option>
                                                            <option value="true">Yes</option>
                                                        </select>
                                                        <div class="help-block with-errors">Use built-in plugin provided by rap.<br/>
                                                            <strong>Default:</strong> No</div>
                                                    </div>
                                                    <!--<div class="col-sm-6 form-group has-feedback">-->
                                                        <!--<label>AAM Private Key Password</label>-->
                                                        <!--<input type="text" class="form-control aam-private-key-password"-->
                                                               <!--placeholder="Optional"-->
                                                               <!--maxlength="7"/>-->
                                                        <!--<span class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
                                                        <!--<div class="help-block with-errors">The password to access the AAM private key. MUST NOT be longer than 7 chars<br/>-->
                                                            <!--<strong>Default:</strong> 'pass'</div>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-default btn-info get-platform-configuration">Get Configuration</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                    <script>
                        storeNecessaryPlatformElements();
                        buildPlatformRegistrationForm();
                    </script>

                </div>

                <!-- Information Model Tab-->
                <div class="tab-pane" id="information-models">

                    <!-- Display errors -->
                    <div class="alert alert-danger alert-dismissable list-user-info-model-error"
                         id="list-user-info-model-error" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong></div>
                    <div class="alert alert-danger alert-dismissable delete-information-model-error"
                         id="delete-information-model-error" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong></div>

                    <!-- Display success message -->
                    <div class="alert alert-success alert-dismissable" id="info-model-registration-successful" style="display: none;">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong>
                        <p>The information model was registered successfully!</p></div>
                    <div class="alert alert-success alert-dismissable" id="info-model-successful-deletion" style="display: none">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong>
                        <p>The information model was deleted successfully!</p></div>

                    <!-- Register new Information Model by triggering the button-->
                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-info btn-default registration-btn" data-toggle="modal"
                            data-target="#info-model-reg-modal">Register New Information Model</button>

                    <!-- Modal -->
                    <div id="info-model-reg-modal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <form id="info-model-registration-form" role="form" action="" data-toggle="validator">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h3 class="modal-title">Information Model Registration</h3>
                                    </div>
                                    <div class="modal-body" id="info-model-registration-modal-body">

                                        <!-- Display errors -->
                                        <div class="alert alert-danger alert-dismissable info-model-registration-error"
                                             id="info-model-registration-error" style="display: none">
                                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                            <strong>Error!</strong></div>

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control" id="info-model-name"
                                                               minlength="2" maxlength="30" required="required"
                                                               data-required-error="A valid name is required"
                                                               name="info-model-name" placeholder="Enter name of the information model" />
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors">From 2 to 30 characters</div>
                                                        <div class="alert alert-danger" id="info-model-reg-error-name" style="display: none">
                                                            Invalid name!</div>
                                                    </div>
                                                    <div class="col-sm-6 form-group has-feedback">
                                                        <label>Uri</label>
                                                        <input type="url"  class="form-control" id="info-model-uri"
                                                               name="info-model-uri" placeholder="Enter the uri of the information model"
                                                               pattern="^((ftp|http|https):\/\/)?(\S+(:\S*)?@)?((([1-9]\d?|1\d\d|2[01]\d|22[0-3])(\.(1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.([0-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|((www\.)?)?(([a-z\x{00a1}-\x{ffff}0-9]+-?-?_?)*[a-z\x{00a1}-\x{ffff}0-9]+)(?:\.([a-z\x{00a1}-\x{ffff}]{2,}))?)|localhost)(:(\d{1,5}))?((\/|\?|#)[^\s]*)?$"
                                                               data-error="Not valid url" required="required"
                                                               data-required-error="A valid uri is required"/>
                                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                                        <div class="help-block with-errors"></div>
                                                        <div class="alert alert-danger" id="info-model-reg-error-uri" style="display: none">
                                                            Invalid name!</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <label>Rdf file</label>
                                                <input id="info-model-rdf" name="info-model-rdf" type="file"
                                                       accept=".ttl, .nt, .rdf, .xml, .n3, .jsonld" required="required"/>
                                                <div class="help-block with-errors">Supported format: .ttl, .nt, .rdf, .xml, .n3, .jsonld</div>
                                                <div class="alert alert-danger" id="info-model-reg-error-rdf" style="display: none">
                                                    Invalid name!</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 form-group">
                                                <div class="progress" style="display: none">
                                                    <div class="progress-bar progress-bar-success myprogress" role="progressbar" style="width:0%"></div>
                                                </div>

                                                <div class="msg"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" id="info-model-reg-btn" name="info-model-reg-btn"
                                                class="btn btn-default btn-info">Submit</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Information Model Panel Entry -->
                    <div class="panel panel-primary info-model-panel-entry" id="info-model-entry" style="display: none">
                        <div class="panel-heading clickable">
                            <h3 class="panel-title">INFORMATION_MODEL_NAME</h3>
                            <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span></div>
                        <div class="panel-body" style="display: none;">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group has-feedback">
                                            <label>Name</label>
                                            <input type="text" class="form-control update-info-model-name"
                                                   name="update-info-model-name" minlength="2" maxlength="30" required="required"
                                                   data-required-error="A valid name is required" disabled="disabled"
                                                   placeholder="Enter name of the information model" />
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            <!--<div class="help-block with-errors">From 2 to 30 characters</div>-->
                                            <div class="alert alert-danger" id="info-model-update-error-name" style="display: none">
                                                Invalid name!</div>
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>Id</label>
                                            <input type="text" class="form-control update-info-model-id" disabled="disabled"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group has-feedback">
                                            <label>Uri</label>
                                            <input type="url" class="form-control update-info-model-uri"
                                                   name="update-info-model-uri" placeholder="Enter the uri of the information model"
                                                   pattern="^((ftp|http|https):\/\/)?(\S+(:\S*)?@)?((([1-9]\d?|1\d\d|2[01]\d|22[0-3])(\.(1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.([0-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|((www\.)?)?(([a-z\x{00a1}-\x{ffff}0-9]+-?-?_?)*[a-z\x{00a1}-\x{ffff}0-9]+)(?:\.([a-z\x{00a1}-\x{ffff}]{2,}))?)|localhost)(:(\d{1,5}))?((\/|\?|#)[^\s]*)?$"
                                                   data-error="Not valid url" required="required"
                                                   data-required-error="A valid uri is required" disabled="disabled"/>
                                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                            <!--<div class="help-block with-errors"></div>-->
                                            <div class="alert alert-danger" id="info-model-update-error-uri" style="display: none">
                                                Invalid uri!</div>
                                        </div>
                                        <div class="col-sm-6 form-group has-feedback">
                                            <label>RDF Format</label>
                                            <input type="text" class="form-control update-info-model-rdfformat" disabled="disabled"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer platform-info-footer">

                            <!-- Trigger the information model delete modal with a button -->
                            <button type="button" class="btn btn-default btn-warning btn-warning-delete"
                                    data-toggle="modal" data-target="#info-model-del-modal">Delete</button>

                            <!-- Information Model Delete Modal -->
                            <div id="info-model-del-modal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title text-danger">Are you sure you want to delete the information model
                                                <strong>INFORMATION MODEL NAME</strong>?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-default btn-danger del-info-model-btn">Verify Deletion</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Show Information Model Details -->
                    <script>
                        storeNecessaryInfoModelElements();
                        buildInfoModelsPanels();
                    </script>

                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>