<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="header">
        <span class="title" th:fragment="title">Administrator Control Panel</span>
        <form class="logout" th:action="@{/admin/logout}" method="post">
            <input class="button" type="submit" value="Log Out"></input>
        </form>
    </div>
    <div class="content">
        <ul class="sidebar">
            <li class="action active" id="admin_status">Status</li>
            <li class="action" id="admin_logs">System Logs</li>
        </ul>
        <div class="tabs">
            <div class="tab active" id="admin_status_tab">
                <span>System Status</span>
            </div>
            <div class="tab" id="admin_logs_tab">
                Logs Tab
            </div>
        </div>
    </div>
</body>
</html>