<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Control Panel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/cpanel.css}" href="css/cpanel.css" />
</head>
<body>
    
    <div class="content">
        <ul class="sidebar">
            <li class="action" id="account">Account</li>
        </ul>
        <div class="tabs">
            <div class="tab" id="account_tab">                
                Account Settings
            </div>
        </div>
    </div>
</body>
</html>